# Frontend build-time API URL
VITE_API_URL=http://localhost:8000/api/v1

# Backend-only values: 
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/participation_platform?ssl=disable
JWT_SECRET_KEY=CT1cq3AVZ7xIGXQE+GKzIs7tSW3iv4F0C1q1NefNWRU=
CORS_ORIGINS=http://localhost:3000
